<footer class="footer_section layout_padding">
    <div class="container">
       <div class="row">
            <div class="col-lg-3 col-sm-6">
             <div class="footer_logo"><a href="/"><img src="/images/nav-logo-white.png" style="width: 130px" ></a></div> 
             <div class="map_icon"><img src="/images/map-icon.png"><span class="paddlin_left_0">OptimumHealth GmbH</span></div>
             <div class="map_icon"><img src="/images/call-icon.png"><span class="paddlin_left_0">+(0211)7239212</span></div>
             <div class="map_icon"><img src="/images/mail-icon.png"><span class="paddlin_left_0">Info@OptimumHealth.com</span></div>
            </div>
            <div class="col-lg-3 col-sm-6">
             <h1 class="adderss_text">Doctors</h1>
             <div class="hiphop_text_1">Our doctors are trained, certified and able to solve your health problems completely. You can ask for the respective certification from the corresponding doctor if needed.</div>
            </div>
            <div class="col-lg-3 col-sm-6">
             <h1 class="adderss_text">Useful Links</h1>
             <div class="Useful_text"><a href="https://www.healthline.com/"> Health Line </a></div>
             <div class="Useful_text"><a href="https://www.zusammengegencorona.de/en/"> Corona information</a></div>
             <div class="Useful_text"><a href="https://www.who.int/"> World Health Organization</a></div>
             <div class="Useful_text"><a href="https://www.unicef.org/immunization"> Vaccination Information</a></div>
            </div>
       </div>
    </div>
 
</footer>