<header class="header_section">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <div class="logo"><a href="nav-logo"><img src="/images/nav-logo-black.png"  style="width: 80px" ></a></div> 
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="/map">Find a Doctor</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="/profile">Client</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="/contact">Help</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="#"><img src="/images/search-icon.png"></a>
             </li>
          </ul>
       </div>
    </nav>
</header>