<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>HomeCare</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" href="/css/bootstrap.min.css">
   <!-- style css -->
   <link rel="stylesheet" href="/css/style.css">
   <!-- Responsive-->
   <link rel="stylesheet" href="/css/responsive.css">
   <!-- fevicon -->
   <link rel="icon" href="/images/fevicon.png" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <!-- owl stylesheets -->
   <link rel="stylesheet" href="/css/owl.carousel.min.css">
   <link rel="stylesheet" href="/css/owl.theme.default.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
   <!-- header section start -->
   <div class="header_section">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="logo"><a href="nav-logo"><img src="/images/nav-logo-black.png"  style="width: 80px" ></a></div> 
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="/">Home</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/map">Find a Doctor</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/profile">Client</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/contact">Help</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#"><img src="/images/search-icon.png"></a>
               </li>
            </ul>
         </div>
      </nav>
      <!-- header section end -->
      <!-- banner section start -->
      <div id="main_slider" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="banner_section">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-6">
                           <h1 class="banner_taital">Optimum <br><span style="color: #151515;">Health</span></h1>
                           <p class="banner_text">Talk to your doctor in your own language</p>
                           <div class="btn_main">
                              <div class="more_bt"><a href="/map">Find Doctor</a></div>
                              <div class="contact_bt"><a href="/contact">Get informations</a></div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="image_1"><img src="/images/img-1.png"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="banner_section">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-6">
                           <h1 class="banner_taital">Optimum <br><span style="color: #151515;">Health</span></h1>
                           <p class="banner_text">Find a doctor in your area</p>
                           <div class="btn_main">
                              <div class="more_bt"><a href="/map">Find Doctor</a></div>
                              <div class="contact_bt"><a href="/contact">Get informations</a></div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="image_1"><img src="/images/img-1.png"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="banner_section">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-6">
                           <h1 class="banner_taital">Optimum <br><span style="color: #151515;">Health</span></h1>
                           <p class="banner_text">Find the right doctor</p>
                           <div class="btn_main">
                              <div class="more_bt"><a href="/map">Find Doctor</a></div>
                              <div class="contact_bt"><a href="/contact">Get informations</a></div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="image_1"><img src="/images/img-1.png"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         </a>
      </div>
   </div>
   <!-- banner section end -->
   <!-- health section start -->
   <div class="health_section layout_padding">
      <div class="container">
         <h1 class="health_taital">Optimum Health care for you</h1>
         <p class="health_text">When you are struggling with explaining yourself to the doctor in your own language, you can find the one who can understand you and your health issues. It is not always easy to find the right doctor - and certainly not the right doctor who speaks your language. Optimum Health helps you to find the right doctor who will not only understand you, but also offer you the right help to solve your health problems.</p>
         <div class="health_section layout_padding">
            <div class="row">
               <div class="col-sm-7">
                  <div class="image_main">
                     <div class="main">
                        <img src="/images/img-2.png" alt="Avatar" class="image" style="width:100%">
                     </div>
                     <div class="middle">
                        <div class="text"><img src="/images/icon-1.png" style="width: 40px;"></div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-5">
                  <div class="image_main_1">
                     <div class="main">
                        <img src="/images/img-3.png" alt="Avatar" class="image" style="width: 100%">
                     </div>
                     <div class="middle">
                        <div class="text"><img src="/images/icon-1.png" style="width: 40px;"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- health section end -->
   <!-- knowledge section end -->
   <div class="knowledge_section layout_padding">
      <div class="container">
         <div class="knowledge_main">
            <div class="left_main">
               <h1 class="knowledge_taital">Communication is key</h1>
               <p class="knowledge_text">You can choose between a lot of doctors in your area and find the right one.</p>
            </div>
            <div class="right_main">
               <div class="play_icon"><a href="/map"><img src="/images/play-icon.png"></a></div>
            </div>
         </div>
      </div>
   </div>
   <!-- knowledge section end -->
   <!-- news section start -->
   <div class="news_section layout_padding">
      <div class="container">
         <h1 class="health_taital">Other issues?</h1>
         <p class="health_text">Life is not always easy when you have health problems. Choose which doctor of each specialization could help you to solve your health problems.</p>
         <div class="news_section_2 layout_padding">
            <div class="row">
               <div class="col-lg-4 col-sm-6">
                  <div class="box_main">
                     <div class="icon_1"><img src="/images/icon-2.png"></div>
                     <h4 class="daily_text">General health issues</h4>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-6">
                  <div class="box_main active">
                     <div class="icon_1"><img src="/images/icon-3.png"></div>
                     <h4 class="daily_text_1">Get an appoinment</h4>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-6">
                  <div class="box_main">
                     <div class="icon_1"><img src="/images/icon-4.png"></div>
                     <h4 class="daily_text_1">Physical handicaps</h4>
                  </div>
               </div>
            </div>
         </div>
         <div class="getquote_bt"><a href="#">Log In <span><img src="/images/right-arrow.png"></span></a></div>
      </div>
   </div>
   <!-- news section end -->
   <!-- contact section start -->
   <div class="contact_section layout_padding">
      <div class="container">
         <h1 class="contact_taital">Do you need help?</h1>
         <div class="news_section_2">
            <div class="row">
               <div class="col-md-6">
                  <div class="icon_main">
                     <div class="icon_7"><img src="/images/icon-7.png"></div>
                     <h4 class="diabetes_text">Tell us your full name </h4>
                  </div>
                  <div class="icon_main">
                     <div class="icon_7"><img src="/images/icon-5.png"></div>
                     <h4 class="diabetes_text">Tell us your email adress </h4>
                  </div>
                  <div class="icon_main">
                     <div class="icon_7"><img src="/images/icon-6.png"></div>
                     <h4 class="diabetes_text">We will help you with your problem</h4>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="contact_box">
                     <h1 class="book_text">Give us informations!</h1>
                     <input type="text" class="Email_text" placeholder="Name" name="Name">
                     <input type="text" class="Email_text" placeholder="Email" name="Email">
                     <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
                     <div class="send_bt"><a href="#">SEND</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- contact section end -->
   <!-- client section start -->
   <div class="client_section layout_padding">
               <div class="container">
                  <h1 class="client_taital">User experience so far</h1>
                  <p class="client_text">User satisfaction is our top priority. Let's see what our customers say about OptimumHealth. </p>
                  <div class="client_section_2">
                     <div class="client_left">
                        <div><img src="/images/client-img.png" class="client_img"></div>
                     </div>
                     <div class="client_right">
                        <h3 class="distracted_text">Mandy, 32 years</h3>
                        <p class="lorem_text">"Hello, my name is Mandy and I am 32 years old. I came to Germany 3 years ago and I always had problems finding a doctor who understood me and can give me medication and help that fit my illness. Due to OptimumHealth I had an appointment with a doctor in a very short time and I felt very comfortable with him."</p>
                     </div>
                  </div>
               </div>   
   <!-- client section end -->
   <!-- footer section start -->
   <div class="footer_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-sm-6">
               <div class="footer_logo"><a href="/"><img src="/images/nav-logo-white.png" style="width: 130px" ></a></div> 
               <div class="map_icon"><img src="/images/map-icon.png"><span class="paddlin_left_0">OptimumHealth GmbH</span></div>
               <div class="map_icon"><img src="/images/call-icon.png"><span class="paddlin_left_0">+(0211)7239212</span></div>
               <div class="map_icon"><img src="/images/mail-icon.png"><span class="paddlin_left_0">Info@OptimumHealth.com</span></div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h1 class="adderss_text">Doctors</h1>
               <div class="hiphop_text_1">Our doctors are trained, certified and able to solve your health problems completely. You can ask for the respective certification from the corresponding doctor if needed.</div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h1 class="adderss_text">Useful Links</h1>
               <div class="Useful_text"><a href="https://www.healthline.com/"> Health Line </a></div>
               <div class="Useful_text"><a href="https://www.zusammengegencorona.de/en/"> Corona information</a></div>
               <div class="Useful_text"><a href="https://www.who.int/"> World Health Organization</a></div>
               <div class="Useful_text"><a href="https://www.unicef.org/immunization"> Vaccination Information</a></div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h1 class="adderss_text">Newsletter</h1>
               <input type="text" class="Enter_text" placeholder="Enter your Emil" name="Enter your Emil">
               <div class="subscribe_bt"><a href="#">Subscribe</a></div>
               <div class="social_icon">
                  <ul>
                     <li><a href="#"><img src="/images/fb-icon.png"></a></li>
                     <li><a href="#"><img src="/images/twitter-icon.png"></a></li>
                     <li><a href="#"><img src="/images/linkedin-icon.png"></a></li>
                     <li><a href="#"><img src="/images/instagram-icon.png"></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- footer section end -->
   <!-- copyright section start -->
   <div class="copyright_section">
      <div class="container">
         <p class="copyright_text">2022 All Rights Reserved to OptimumHealth</a></p>
      </div>
   </div>
   <!-- copyright section end -->
   <!-- Javascript files-->
   <script src="/js/jquery.min.js"></script>
   <script src="/js/popper.min.js"></script>
   <script src="/js/bootstrap.bundle.min.js"></script>
   <script src="/js/jquery-3.0.0.min.js"></script>
   <script src="/js/plugin.js"></script>
   <!-- sidebar -->
   <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
   <script src="/js/custom.js"></script>
   <!-- javascript -->
   <script src="/js/owl.carousel.js"></script>
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>
</html>