
<div>

    <div class=".client_section"> 
        <h1 class="client_taital">Hi <%= firstName %> </h1>
    
        <form action="/logout?_method=DELETE" method="POST">
        <button class="logout_btn" type="submit">Log Out</button>
    
        </form>

    </div>

</div>
