<div class="register">
  <div class="register_box">
    <h1 class="register_text">Register</h1>

    <form action="/register", method="POST" >
      <div>
        <label>First Name</label>  
        <input type="text" placeholder="firstName" id="firstName" name="firstName" required>
        <br><br>
        <label>Last Name</label>  
        <input type="text" placeholder="lastName" id="lastName" name="lastName" required>  
      </div>

        <br>
      <div>
        <label>Email</label>
        <input type="email" id="email"name="email" required>
        <br> <br>
        <label>Password</label>
        <input type="password" id="password" name="password" required >
      </div>
  
        <br>

      <div>
        <label>Date of birth</label>
        <input type="date" id="dateofBirth" name="dateofBirth" required>
        <br><br>
        <label>Mobile Number</label>
        <input type="tel" placeholder="+4900000000000" id="phoneNo" name="phoneNo" maxlength="12" required>
      </div>
      <br>
      <div>
        <label>street Name</label>
        <input type="text" placeholder="streetName" id="streetName" name="streetName" required>
        <br><br>
        <label>House Number</label>
        <input type="text" placeholder="houseNumber" id="houseNumber" name="houseNumber" maxlength="7" required>
        </div>
        <br>
      <div>
        <label>Postal Code</label>
        <input type="text" id="postalCode" name="postalCode" required>
        <br><br>
        <label>City</label>
        <input type="text" id="city" name="city" required>
      </div>

      <br>
    
      <div>
        <label for="gender">Gender</label>
        <select id="gender" name="gender">
          <option value="">---please select an option---</option>
          <option value="male">male</option>
          <option value="female">female</option>
          <option value="other">other</option>
        </select>
      </div>
        
      <div>
        <input type="checkbox" id="agree" name="agree" required >
        <label for="agree">I accept the terms of service</label>
      </div>
      <br>
      <button class="submit_btn" >SUBMIT</button>
      
    </form>
    <br><br>
      <a href="/login">Login</a>
    
  </div>

</div>
   

