body {

    background: rgb(34,193,195);
background: linear-gradient(0deg, rgb(31, 185, 212) 0%, rgb(245, 248, 250) 94%);;
    color: #666666;
    font-size: 14px;
    font-family: Poppins;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}